# Supabase Configuration
SUPABASE_URL=https://flttghicyfblesarctdr.supabase.co
SUPABASE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImZsdHRnaGljeWZibGVzYXJjdGRyIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjA1NzI4MDgsImV4cCI6MjA3NjE0ODgwOH0.cVW4YCEW0aJq_mDtr_J0JrFR2HjK0zVDiat1IfKo87U

# RapidAPI Configuration
RAPIDAPI_KEY=your_rapidapi_key_here
